<aside class="customer-reviews">
  <h2 class="customer-reviews__title">Customer reviews</h2>
  <div class="slider-comments-box">
    <span class="slider-comments-box__arrow-left">
      <img src="./assets/arrow-left.svg" alt="arrow left">
    </span>
    <div class="slider-comments-box__card">
      <span>
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
      </span>
      <span>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat unde, assumenda ipsum corrupti aliquid
        animi ex perspiciatis magni voluptas? Magnam.
      </p>
      <a href="#">Read More</a>
      <span>Nathaniel B</span>
    </div>
    <div class="slider-comments-box__card">
      <span>
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
      </span>
      <span>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat unde, assumenda ipsum corrupti aliquid
        animi ex perspiciatis magni voluptas? Magnam.
      </p>
      <a href="#">Read More</a>
      <span>Randy H</span>
    </div>
    <div class="slider-comments-box__card">
      <span>
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
      </span>
      <span>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat unde, assumenda ipsum corrupti aliquid
        animi ex perspiciatis magni voluptas? Magnam.
      </p>
      <a href="#">Read More</a>
      <span>Sentry A</span>
    </div>
    <span class="slider-comments-box__arrow-right">
      <img src="./assets/arrow-right.svg" alt="arrow right">
    </span>
  </div>
</aside>
