<app-presentation />
<app-options />
<main class="main">
  <h1 class="main__title">Best selling products</h1>
  <div class="main__container-card">
    <div class="card">
      <figure>
        <img src="./assets/card-image-1.svg " alt="image">
        <figcaption>Radiance Glow Serum</figcaption>
      </figure>
      <span>$40.00</span>
      <button type="button">Add to cart</button>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/card-image-2.svg " alt="image">
        <figcaption>Radiance Glow Serum</figcaption>
      </figure>
      <span>$30.00</span>
      <button type="button">Add to cart</button>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/card-image-3.svg " alt="image">
        <figcaption>Radiance Glow Serum</figcaption>
      </figure>
      <span>$20.00</span>
      <button type="button">Add to cart</button>
    </div>
  </div>
</main>
<app-aside />
