<header class="header">
  <div class="header__container">
    <div class="header__container__logo">
      <img src="./assets/logo.svg" alt="Abanto Cosmetics Logo">
    </div>
    <div class="header__container__tools">
      <div class="header__container__tools__helpful-links">
        <ul>
          <li>
            <a href="#">contact US/FAQ</a>
          </li>
          <li>
            <a href="#">Terms and conditions</a>
          </li>
          <li>
            <a href="#">Buying online</a>
          </li>
        </ul>
      </div>
      <div class="header__container__tools__search">
        <ul>
          <li>
            <input type="search" placeholder="Search Abanto cosmetics">
            <fa-icon [icon]="faSearch"></fa-icon>
          </li>
          <li>
            <a href="#">
              <img src="./assets/user-icon.svg" alt="user">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./assets/bag-icon.svg" alt="bag">
              <span class="count">1</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="header__menu">
    <ul>
      <li>
        <a href="#">Shop</a>
      </li>
      <li>
        <a href="#">About Abano Cosmetics</a>
      </li>
      <li>
        <a href="#">Beauty Tips</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<section class="presentation">
  <div class="presentation__container">
    <div class="presentation__container__text">
      <p>Welcome to abano cosmetics, where we belive in the power of natural beauty. Our mission is to create effective,
        high-quality cosmetics that enhance your natural features and leave you feeling confident and beautiful.</p>
      <button type="button">Shop now</button>
    </div>
    <div class="presentation__container__image">
      <img src="./assets/presentation-image-1.png" alt="presentation image">
      <img src="./assets/presentation-image-2.png" alt="presentation image">
      <img src="./assets/presentation-image-3.png" alt="presentation image">
    </div>
  </div>
</section>
<section class="options">
  <div class="options__serum">
    <img src="./assets/serum.svg" alt="serum">
    <a href="#">serum</a>
  </div>
  <div class="options__cleanser">
    <img src="./assets/cleanser.svg" alt="cleanser">
    <a href="#">cleanser</a>
  </div>
  <div class="options__cream">
    <img src="./assets/cream.svg" alt="cream">
    <span>cream</span>
  </div>
</section>
<main class="main">
  <h1>Best selling products</h1>
  <div class="main__container-card">
    <div class="card">
      <figure>
        <img src="./assets/card-image-1.svg " alt="image">
        <figcaption>Radiance Glow Serum</figcaption>
      </figure>
      <span>$40.00</span>
      <button type="button">Add to cart</button>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/card-image-2.svg " alt="image">
        <figcaption>Radiance Glow Serum</figcaption>
      </figure>
      <span>$30.00</span>
      <button type="button">Add to cart</button>
    </div>
    <div class="card">
      <figure>
        <img src="./assets/card-image-3.svg " alt="image">
        <figcaption>Radiance Glow Serum</figcaption>
      </figure>
      <span>$20.00</span>
      <button type="button">Add to cart</button>
    </div>
  </div>
</main>
<aside class="customer-reviews">
  <h2 class="customer-reviews__title">Customer reviews</h2>
  <div class="slider-comments-box">
    <span class="slider-comments-box__arrow-left">
      <img src="./assets/arrow-left.svg" alt="arrow left">
    </span>
    <div class="slider-comments-box__card">
      <span>
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
      </span>
      <span>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat unde, assumenda ipsum corrupti aliquid
        animi ex perspiciatis magni voluptas? Magnam.
      </p>
      <a href="#">Read More</a>
      <span>Nathaniel B</span>
    </div>
    <div class="slider-comments-box__card">
      <span>
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
      </span>
      <span>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat unde, assumenda ipsum corrupti aliquid
        animi ex perspiciatis magni voluptas? Magnam.
      </p>
      <a href="#">Read More</a>
      <span>Randy H</span>
    </div>
    <div class="slider-comments-box__card">
      <span>
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
      </span>
      <span>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat unde, assumenda ipsum corrupti aliquid
        animi ex perspiciatis magni voluptas? Magnam.
      </p>
      <a href="#">Read More</a>
      <span>Sentry A</span>
    </div>
    <span class="slider-comments-box__arrow-right">
      <img src="./assets/arrow-right.svg" alt="arrow right">
    </span>
  </div>
</aside>
<footer class="footer">
  <div class="footer__subscribe">
    <h3 class="title">Join Our Newsletter</h3>
    <div class="controls">
      <input type="email" placeholder="Your Email Address">
      <button type="button">Subscribe</button>
    </div>
  </div>
  <div class="footer__information">
    <div class="row">
      <div class="col">
        <img src="./assets/logo.svg" alt="Logo footer">
        <p>
          <span>C,3/3 SOUTH CHHYABITHY</span>
          <span>GAZIPUR, BANGLADESH</span>
        </p>
        <p>
          <span>CUSTOMER SERVICE HOURS:</span>
          <span>M-F 10AM-5PM CLOSED</span>
          <span>WEEKEND & HOLIDAYS</span>
        </p>
        <P>+8801716942391</P>
      </div>
      <div class="col">
        <h4>DEPARTMENTS</h4>
        <p>RADIANCE GLOW SERUM</p>
        <p>AGELESS EYE CREAM</p>
        <p>COVERAGE FOUNDATION</p>
        <p>BEAUTIFUL LIPSTICK</p>
        <p>SHAMPOO</p>
        <p>HAIR OIL</p>
      </div>
      <div class="col">
        <h4>NAVIGATE</h4>
        <p>PRIVACY POLICY</p>
        <p>ABOUT US</p>
        <p>SHIPPING/REFUND</p>
        <p>TERMS & CONDITIONS</p>
      </div>
      <div class="col">
        <h4>RESOURCES</h4>
        <p>CONTACT US/FAQ</p>
        <p>SHIPPING/REFUND</p>
        <p>BUY ONLINE</p>
        <ul class="social-networks">
          <li>
            <img src="./assets/facebook-icon.svg" alt="facebook icon">
          </li>
          <li>
            <img src="./assets/instagram-icon.svg" alt="instagram icon">
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  Copyright 2023 Abano Cosmetics. All Rights Reserved.
</div>
<router-outlet />
