.header {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__container {
    width: 1174px;
    display: flex;
    flex-direction: row;

    &__logo {
      width: 50%;
      margin-top: 88px;

      img {
        width: 251.32px;
        height: 86.92px;
      }
    }

    &__tools {
      width: 50%;
      margin-top: 58px;

      &__helpful-links {
        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 35px;
          justify-content: end;

        }

        ul li {
          display: inline-block;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          color: #000100;
        }
      }

      &__search {
        margin-top: 30px;

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 30px;
          justify-content: end;
        }

        ul li {
          display: inline-block;
        }

        ul>li:nth-child(1) {
          position: relative;
        }

        ul>li:nth-child(1) fa-icon {
          position: absolute;
          right: 10px;
          top: 5px;
          color: #AFAFAF;
        }

        ul li input[type="search"] {
          width: 325px;
          height: 100%;
          border: 1px solid #AFAFAF;
          padding-left: 10px;
        }

        ul>li:nth-last-child(1) {
          position: relative;
          margin-right: 5px;
        }

        ul>li:nth-last-child(1) span {
          display: inline-block;
          width: 18px;
          height: 18px;
          background-color: red;
          color: white;
          text-align: center;
          border-radius: 50%;
          position: absolute;
          top: 2px;
          left: 8px;
        }

      }
    }
  }

  &__menu {
    width: 1174px;
    margin-top: 10px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 6%;
      justify-content: end;
    }

    ul li {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 26.68px;
      font-weight: 400;
    }

    ul li a {
      font-family: 'Oswald', sans-serif;
    }

    ul li:nth-child(1) a {
      color: #EB6D9D;
    }
  }
}

.presentation {
  margin-top: 47.32px;
  display: flex;
  justify-content: center;

  &__container {
    border: 1px solid #AAAAAA;
    width: 1174px;
    padding: 10px 10px 30px;
    display: flex;
    justify-content: space-between;

    &__text {
      width: 50%;
      padding: 30px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-family: 'Oswald';
        font-weight: 300;
        font-size: 24px;
        line-height: 35.57px;
        width: 490px;
        color: #EB6D9D;
      }

      button {
        font-family: 'Oswald';
        font-weight: 500;
        font-size: 24px;
        line-height: 35.75px;
        width: 199px;
        height: 76px;
        color: #FFFFFF;
        background-color: #EB6D9D;
        border: none;
      }
    }

    &__image {
      width: 50%;
      text-align: right;
      padding-top: 10px;
      padding-right: 20px;

      img {
        width: 30%;
      }
    }
  }

}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1174px;
  margin: 30px auto;
  padding: 40px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
      color: #EB6D9D;
      font-family: 'Oswald';
      font-weight: 500;
      font-size: 30px;
      line-height: 44.46px;
      text-transform: uppercase;
      display: block;
    }
  }

  &__item img:nth-child(1) {
    width: 38.21px;
  }

  &__item img:nth-child(2) {
    width: 65px;
  }

  &__item img:nth-child(3) {
    width: 50px;
  }

}

.main {
  width: 1174px;
  margin: 30px auto;

  &__title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 35px;
    line-height: 51.87px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
  }

  &__container-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card {
      width: 356px;
      height: 480px;
      border: 1px solid #AFAFAF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;

      figure {
        text-align: center;
      }

      figure figcaption {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
      }

      span {
        display: block;
        font-weight: 700;
        font-size: 28px;
        line-height: 34.13px;
        text-align: center;
        margin: 40px auto 30px;
      }

      button {
        width: 172px;
        height: 46px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #EB6D9D;
        border: none;
        font-size: 16px;
        font-weight: 500;
        display: block;
      }
    }
  }
}

.customer-reviews {
  width: 1174px;
  margin: 0 auto;

  &__title {
    text-align: center;
    font-size: 35px;
    line-height: 51.87px;
    font-family: 'Oswald';
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .slider-comments-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    margin-top: 30px;

    &__arrow-left {
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
    }

    &__arrow-right {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
    }

    &__card {
      width: 323px;
      text-align: center;

      span:nth-child(1) {
        width: 79px;
        height: 79px;
        border: 1px solid #EB6D9D;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        font-size: 45px;
        line-height: 70px;
        font-family: 'Oswald';
      }

      span:nth-child(2) {
        display: block;
        margin-top: 10px;
      }

      span:nth-last-child(1) {
        font-weight: 600;
        font-size: 16px;
        line-height: 19.5px;
        margin-top: 5px;
        display: block;
      }

      p {
        text-align: justify;
        font-style: oblique;
        font-weight: 400;
        margin: 20px 0px;
        font-size: 16px;
        line-height: 19.5px;
      }

      a {
        display: block;
        color: #DF001C;
        font-weight: 500;
      }

    }
  }
}


.footer {
  border: 1px solid lawngreen;
}
