<footer class="footer">
  <div class="footer__subscribe">
    <h3 class="title">Join Our Newsletter</h3>
    <div class="controls">
      <input type="email" placeholder="Your Email Address">
      <button type="button">Subscribe</button>
    </div>
  </div>
  <div class="footer__information">
    <div class="row">
      <div class="col">
        <img src="./assets/logo.svg" alt="Logo footer">
        <p>
          <span>C,3/3 SOUTH CHHYABITHY</span>
          <span>GAZIPUR, BANGLADESH</span>
        </p>
        <p>
          <span>CUSTOMER SERVICE HOURS:</span>
          <span>M-F 10AM-5PM CLOSED</span>
          <span>WEEKEND & HOLIDAYS</span>
        </p>
        <P>+8801716942391</P>
      </div>
      <div class="col">
        <h4>DEPARTMENTS</h4>
        <p>RADIANCE GLOW SERUM</p>
        <p>AGELESS EYE CREAM</p>
        <p>COVERAGE FOUNDATION</p>
        <p>BEAUTIFUL LIPSTICK</p>
        <p>SHAMPOO</p>
        <p>HAIR OIL</p>
      </div>
      <div class="col">
        <h4>NAVIGATE</h4>
        <p>PRIVACY POLICY</p>
        <p>ABOUT US</p>
        <p>SHIPPING/REFUND</p>
        <p>TERMS & CONDITIONS</p>
      </div>
      <div class="col">
        <h4>RESOURCES</h4>
        <p>CONTACT US/FAQ</p>
        <p>SHIPPING/REFUND</p>
        <p>BUY ONLINE</p>
        <ul class="social-networks">
          <li>
            <img src="./assets/facebook-icon.svg" alt="facebook icon">
          </li>
          <li>
            <img src="./assets/instagram-icon.svg" alt="instagram icon">
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  Copyright 2023 Abano Cosmetics. All Rights Reserved.
</div>
