<section class="presentation">
  <div class="presentation__container">
    <div class="presentation__container__text">
      <p>Welcome to abano cosmetics, where we belive in the power of natural beauty. Our mission is to create effective,
        high-quality cosmetics that enhance your natural features and leave you feeling confident and beautiful.</p>
      <button type="button">Shop now</button>
    </div>
    <div class="presentation__container__image">
      <img src="./assets/presentation-image-1.png" alt="presentation image">
      <img src="./assets/presentation-image-2.png" alt="presentation image">
      <img src="./assets/presentation-image-3.png" alt="presentation image">
    </div>
  </div>
</section>
