* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

svg.svg-inline--fa.fa-star path {
  fill: #F96500;
}
