<header class="header">
  <div class="header__container">
    <div class="header__container__logo">
      <img src="./assets/logo.svg" alt="Abanto Cosmetics Logo">
    </div>
    <div class="header__container__tools">
      <div class="header__container__tools__helpful-links">
        <ul>
          <li>
            <a href="#">contact US/FAQ</a>
          </li>
          <li>
            <a href="#">Terms and conditions</a>
          </li>
          <li>
            <a href="#">Buying online</a>
          </li>
        </ul>
      </div>
      <div class="header__container__tools__search">
        <ul>
          <li>
            <input type="search" placeholder="Search Abanto cosmetics">
            <fa-icon [icon]="faSearch"></fa-icon>
          </li>
          <li>
            <a href="#">
              <img src="./assets/user-icon.svg" alt="user">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./assets/bag-icon.svg" alt="bag">
              <span class="count">1</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="header__menu">
    <ul>
      <li>
        <a href="#">Shop</a>
      </li>
      <li>
        <a href="#">About Abano Cosmetics</a>
      </li>
      <li>
        <a href="#">Beauty Tips</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
